<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<body class="background-container">
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h2 class="text-left mb-2">Causales de despidos</h2>
            </div>
            <div class="col-auto">
                <button type="button" routerLink="/registrar-causal" class="btn btn-custom ">Registrar causal</button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="filtroNombre">Filtrar por Causal:</label>
                    <input type="text" class="form-control" id="filtroNombre" [(ngModel)]="filtroNombre"
                        (input)="filtrarCausales()" placeholder="Escriba la causal a filtrar...">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="filtroCreador">Filtrar por Encargado de Creación:</label>
                    <input type="text" class="form-control" id="filtroCreador" [(ngModel)]="filtroCreador"
                        (input)="filtrarCausales()" placeholder="Escriba el encargado a filtrar...">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Causal</th>
                            <th>Descripción</th>
                            <th>Creado por</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let causal of causalesFiltradas; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ causal.name }}</td>
                            <td>{{ causal.description }}</td>
                            <td>{{ causal.createForUser }}</td>
                            <td>
                                <button class="btn btn-custom-search btn-sm mr-2" (click)="editarCausal(causal.id)"><i
                                        class="fas fa-search"></i></button>
                                <button class="btn btn-danger btn-sm" (click)="eliminarCausal(causal.id)"><i
                                        class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination-container d-flex justify-content-end align-items-center">
                    <div class="items-per-page mr-3 d-inline-flex align-items-center">
                        <div class="d-inline-flex mr-2">Elementos por página:</div>
                        <select class="form-control" id="itemsPerPage" [(ngModel)]="itemsPerPage"
                            (change)="onChangeItemsPerPage()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <div class="pagination-buttons">
                        <button class="btn btn-custom-pagination mr-1" [disabled]="currentPage === 1"
                            (click)="onPreviousPage()">Anterior</button>
                        <span class="current-page">Página {{ currentPage }}</span>
                        <button class="btn btn-custom-pagination ml-1"
                            [disabled]="currentPage * itemsPerPage >= causalesFiltradas.length"
                            (click)="onNextPage()">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>