<body class="background-container">
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h2 class="text-left mb-4">Gestión de usuarios</h2>
    </div>
    <div class="col-auto">
      <!-- Botón para registrar nuevo empleado -->
      <button type="button" routerLink="/crear-usuario" class="btn btn-custom ">Crear usuario</button>
    </div>
  </div>
  <!-- Filtros -->
  <div class="row mb-3">
    <div class="col-md-4">
      <div class="form-group">
        <label for="nombre">Filtrar por Nombre:</label>
        <input type="text" class="form-control" id="nombre">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="status">Filtrar por Status:</label>
        <select class="form-control" id="status">
          <option value="">Todos</option>
          <option value="activo">Activo</option>
          <option value="inactivo">Inactivo</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="departamento">Filtrar por Departamento:</label>
        <select class="form-control" id="departamento">
          <option value="">Todos los departamentos</option>
          <!-- Opciones de departamento se agregarán dinámicamente -->
        </select>
      </div>
    </div>
  </div>

  <!-- Lista de empleados -->
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
        <tr>
          <th>Nombre</th>
<!--          <th>Departamento</th>-->
<!--          <th>Status</th>-->
          <th>Despido</th>
          <th>Reclutamiento</th>
          <th>Nómina</th>
          <th>SST</th>
          <th>BI</th>

          <!-- Agregar más columnas si es necesario -->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of usuarios">
          <td>{{user.name}} {{user.lastname}}</td>
<!--          <td>{{user.department}}</td>-->
          <td>
            <!-- Interruptor personalizado -->
            <label class="switch" >
              <input type="checkbox" [checked]="user.roles.includes('DESPIDO')" (change)="handleCheckboxChange($event,user.username,'DESPIDO')">

              <span class="slider round"></span>
            </label>
          </td>
          <td>
            <!-- Interruptor personalizado -->
            <label class="switch" >
              <input type="checkbox" [checked]="user.roles.includes('RECLUTAMIENTO')" (change)="handleCheckboxChange($event,user.username,'RECLUTAMIENTO')">

              <span class="slider round"></span>
            </label>
          </td>
          <td>
            <!-- Interruptor personalizado -->
            <label class="switch" >
              <input type="checkbox" [checked]="user.roles.includes('NOMINA_ELECTRONICA')" (change)="handleCheckboxChange($event,user.username,'NOMINA_ELECTRONICA')">

              <span class="slider round"></span>
            </label>
          </td>
          <td>
            <!-- Interruptor personalizado -->
            <label class="switch" >
              <input type="checkbox" [checked]="user.roles.includes('SST')" (change)="handleCheckboxChange($event,user.username,'SST')">

              <span class="slider round"></span>
            </label>
          </td>
          <td>
            <!-- Interruptor personalizado -->
            <label class="switch" >
              <input type="checkbox" [checked]="user.roles.includes('BI')" (change)="handleCheckboxChange($event,user.username,'BI')">

              <span class="slider round"></span>
            </label>
          </td>
        </tr>
        <!-- Filas de empleados se agregarán dinámicamente -->
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
