<h1 mat-dialog-title>Detalles de la Capacitacion</h1>
<img src="./assets/aspirante.png" alt="">
<div mat-dialog-content *ngIf="data && data.capacitacion">
  <p><strong>Fecha:</strong> {{ data.capacitacion.capacitationdate }}</p>
  <p><strong>Lugar:</strong> {{ data.capacitacion.place }}</p>
  <p><strong>Descripción:</strong> {{ data.capacitacion.description }}</p>
  <p><strong>Estado:</strong> {{ data.capacitacion.status }}</p>
</div>
<div mat-dialog-actions>
  <button (click)="closePopup()" color="warn">Close</button>
</div>


  
